extends layout

block content 
    h1 Add New Items
    form(action="/itemsRoutes/add", method="post") 
        .form-group 
            label(for="name") Car Name
            input(type="text", class="form-control" name="Name") 
        .form-group 
            label(for="shape") Car Color
            input(type="text", class="form-control" name="Shape") 
        .form-group 
            label(for="rout") Car Model
            input(type="text", class="form-control" name="Rout") 
        
        
        input(type="submit", class="btn btn-warning") 